<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSAc4yLib" version="1.0.0" targetFramework="net472" />
  <package id="CSAc4yServiceLib" version="1.0.0" targetFramework="net472" />
  <package id="CSAc4yServiceObjectFinalLib" version="1.0.0" targetFramework="net472" />
  <package id="CSGUIDLib" version="1.0.0" targetFramework="net472" />
  <package id="CSSeqDiagLib" version="1.0.1" targetFramework="net472" />
  <package id="CSSeqDiagPersistentLib" version="1.0.2" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
</packages>